<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New HMTL document by NewJect</title>

</head>

<!--body ng-app="MyApp"--> <!-- route module -->

<body ng-app="MyApp"> <!-- Add the code in controller i.e. angular.bootstrap(document.body, ["MyApp"]) -->

    <div ng-controller="FirstCtrl">
        <h3>First Controller</h3>
        <p>{{model.now}}</p>
    </div>
    
    <div ng-controller="SecondCtrl">
        <h3>Names</h3>
       <select ng-options="name as name for name in names" ng-model="name" ng-init="name" id="nameList">
           <!--option value="">Choose an option {{optional ? '(optional)' : ''}}</option-->
           <option value="">Choose an option {{name ? '(name)' : ''}}</option>
        
        </select>
        <br/>
        <br/>
        <button ng-click="addName()">Add Name</button>
        <button ng-click="removeName()">Remove Name</button>
    </div>
    
    <div ng-controller="FourthCtrl">
        <h3>Names</h3>
       <select ng-options="name as name for name in names" ng-model="name" ng-init="name" id="nameList">
           <!--option value="">Choose an option {{name ? '(name)' : ''}}</option-->
        
        </select>
        <br/>
        <br/>
        <button ng-click="addName()">Add Name</button>
        <button ng-click="removeName()">Remove Name</button>
    </div>
    
    <div ng-controller="ThirdCtrl">
        <h3>Names</h3>
       <select ng-options="name as name for name in names" ng-model="name" ng-init="name" id="nameList">
           <option value="">Choose an option {{name ? '(name)' : ''}}</option>
        </select>
        <br/>
        <br/>
        <button ng-click="addName()">Add Name</button>
        <button ng-click="removeName()">Remove Name</button>
    </div>
    
    <!--div ng-controller="PlayerCtrl">
        <h1>Players</h1>
        <span ng-repeat="player in players" animation style="display:inline-block">
            <player-info-card player="player"></player-info-card>
        </span>
    
    </div-->
    
    <!--div ng-controller="AsyncPlayerCtrl">
        <h1>Players</h1>
        <span ng-repeat="player in players" animation style="display:inline-block">
            <player-info-card player="player"></player-info-card>
        </span>
    
    </div-->
    
    <!--div ng-controller="PlayerHttpCtrl">
        <h1>Players</h1>
        <span ng-repeat="player in players" animation style="display:inline-block">
            <player-info-card player="player"></player-info-card>
        </span>
    
    </div-->
    
    <div ng-controller="PlayerHttpCtrlResolve">
        <h1>Players</h1>
        <span ng-repeat="player in players" animation style="display:inline-block">
            <player-info-card player="player"></player-info-card>
        </span>
    
    </div>
    
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script-->
    
    <!-- To use JQUERY, load it before Angular JS libraries-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    
    <script src="scripts/app.js"></script>
    
    <script src="scripts/services/MyDataService.js"></script>
    <script src="scripts/services/MyDataServiceByService.js"></script>
    <script src="scripts/services/MyDataServiceByProvider.js"></script>
    
    <script src="scripts/controllers/FirstCtrl.js"></script>
    
    <script src="scripts/controllers/SecondCtrl.js"></script>
    
    <script src="scripts/controllers/ThirdCtrl.js"></script>
    
    <script src="scripts/controllers/FourthCtrl.js"></script>
    
    <script src="scripts/services/PlayerService.js"></script>
    <script src="scripts/directives/PlayerInfoCard.js"></script>
    <script src="scripts/controllers/PlayerCtrl.js"></script>
    
    <script src="scripts/directives/animation.js"></script>
    
    <script src="scripts/controllers/AsyncPlayerCtrl.js"></script>
    <script src="scripts/services/AsyncPlayerService.js"></script>
    <script src="scripts/services/PlayerHttpService.js"></script>
    <script src="scripts/controllers/PlayerHttpCtrl.js"></script>
    
    <script src="scripts/services/PlayerHttpServiceResolvePromise.js"></script>
    <script src="scripts/controllers/PlayerHttpCtrlResolve.js"></script>
      
</body>

</html>